{
    "useTabs": true, // использовать табы? нет (я за пробелы)
    "printWidth": 200, // длина строки - 
    "singleQuote": false, // использовать одинарные кавычки - да!
    "trailingComma": "es5", // запятая в последней строке - да
    "jsxBracketSameLine": false, // закрывающийся jsx в этой же строке
    "semi": true // точка с запятой - da
}